Source: qtipcam
Section: network
Priority: optional
Maintainer: coolshou <coolshou2060@gmail.com>
Build-Depends: debhelper (>= 11), qt5-qmake, qtbase5-dev, qtmultimedia5-dev, qtwebengine5-dev
Standards-Version: 4.1.3
Homepage: https://github.com/coolshou/qtipcam
Vcs-Browser: https://github.com/coolshou/qtipcam
Vcs-Git: https://github.com/coolshou/qtipcam.git

Package: qtipcam
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer1.0-plugins-ugly, 
 gstreamer1.0-plugins-bad, libqt5multimedia5-plugins
Description: qt base ipcam viewer
 qt base ipcam viewer
